<header>
  <mat-toolbar class="toolbar">
    <a href="/">{{ title }}</a>
    <span class="spacer"></span>
    @if(isLoggedIn()) {
    <span class="useremail">{{ userEmail || 'user@email.com' }}</span>
    <button mat-flat-button class="logout-button" (click)="logout()">
      Cerrar Sesión
    </button>
    } @else {
    <button mat-button (click)="scrollTo('hero')">Inicio</button>
    <button mat-button (click)="scrollTo('como-funciona')">
      Cómo funciona
    </button>
    <button mat-button (click)="scrollTo('services')">Servicios</button>
    <button mat-button (click)="scrollTo('acerca-de')">Nosotros</button>
    <button mat-flat-button class="login-button" (click)="goToLogin()">
      Iniciar sesión
    </button>
    <button mat-flat-button class="registro-button" (click)="goToRegister()">Registrarse</button>
    }
  </mat-toolbar>
</header>
