header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #303F9F;
  height: 80px;
}

.toolbar button {
  color: white;
  font-size: .9rem;
}

.toolbar button:hover{
  background-color: #0069d3;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  transition: transform 0.3s ease-in-out;
}

.useremail {
  color: white;
  margin-right: 2rem;
}

.nav-links {
  transform: translateX(0);
  position: static;
  flex-direction: row;
  background-color: transparent;
  box-shadow: none;
}

.nav-links.active {
  transform: translateX(100%);
  position: fixed;
  top: 80px;
  right: 0;
  width: calc(100% - 32px);
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
  background-color: #303F9F;
  z-index: 99;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links.active{
  transform: translateX(0);
}

.menu-button {
  padding: .4rem;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  color: white;
}

.menu-button mat-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
  display: flex;
}

@media (max-width: 885px) {
  .useremail {
    margin-right: 0;
  }

  .spacer {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    align-items: center;
  }

  .toolbar button {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  .nav-links button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .toolbar {
    padding: 0 1rem;
  }

  a {
    font-size: 1.2rem;
  }

  .toolbar button {
    font-size: 0.8rem;
  }
}
