.container {
  padding: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

mat-form-field {
  width: 100%;
  max-width: 300px;
}

.btn-delete {
  margin-left: 12px;
}

th {
  border-bottom: 2px solid black;
  font-size: 16px;
}

td {
  min-width: max-content;
  height: 80px;
}

.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 1000px;
  overflow-x: scroll;
}

.action-column {
  width: 150px;
}