<section class="functions-section">
  <div class="generate-appointment" (click)="goToGenerateAppointment()">
    <mat-icon>create</mat-icon>
    <p>Generar Cita Médica</p>
  </div>
  <div class="consult-appointment" (click)="goToConsultAppointment()">
    <mat-icon>search</mat-icon>
    <p>Consultar Citas</p>
  </div>
  <div class="historia-clinica-seguimiento" (click)="goToHistoriaClinicaYSeguimiento()">
    <mat-icon>history</mat-icon>
    <p>Historia Clínica y Seguimiento</p>
  </div>
  <div class="recordatorios-tratamientos" (click)="goToRecordatoriosTratamientos()">
    <mat-icon>event_note</mat-icon>
    <p>Recordatorios y Tratamientos</p>
  </div>
</section>

