<div class="login-container">
    <div class="login-content">
      <div class="login-form">
        <h1>INICIO DE SESION</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput type="email" formControlName="email" placeholder="your.email@domain.com">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Correo es requerido</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Correo inválido</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Contraseña es requerido</mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
            Iniciar sesión
          </button>
  
          <p class="signup-text">
            ¿No tienes una cuenta? <a routerLink="/signup">Regístrate</a>
          </p>
        </form>
      </div>
      <div class="login-image">
        <img src="https://as1.ftcdn.net/v2/jpg/03/24/53/24/1000_F_324532430_BZNM3SPjltIftYlIcbDBPQjrfFkS9bcA.jpg" alt="">
      </div>
    </div>
  </div>