.functions-section {
  box-sizing: border-box;
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 400px));
  gap: 2rem;
}

.functions-section > div {
  box-sizing: border-box;
  padding: 0 2rem;
  width: 100%;
  height: 150px;
  border-radius: 16px;
  border: 2px solid #0069d3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.functions-section div p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  user-select: none;
}

.functions-section div p,
.functions-section div mat-icon {
  transition: all 0.2s ease;
}

.functions-section div:hover {
  background-color: #0069d3;
}

.functions-section div:hover p,
.functions-section div:hover mat-icon {
  transform: scale(1.1);
  color: white;
}

mat-icon {
  width: auto;
  height: auto;
  font-size: 4rem;
}

@media (max-width: 645px) {
  .functions-section {
    place-items: center;
    grid-template-columns: 1fr;
  }
}